.slider-container
{
	.item-container
	{
		position: relative;

		.label
		{
			position: absolute;
			top: 50%;
			left: 50%;
			color: white;
		}

		img
		{
			width: 100vw;
			height: 100vh;
			object-fit: cover;
		}
	}
}