.display-container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

	.category-header
	{
		font-family: 'Open Sans Condensed', sans-serif;
		text-transform: uppercase;
		font-size: 45px;
		letter-spacing: 1px;
		font-weight: bold;
		margin-bottom: 15px;
		padding-left: 15px;
		border-left: 4px solid black;
		align-self: flex-start;
		margin-left: 23px;
	}

	.category-description
	{
		font-family: 'Open Sans Condensed', sans-serif;
		letter-spacing: 1px;
		font-size: 20px;
		align-self: flex-start;
		text-align: left;
		margin-left: 23px;
	}

	.gallery
	{
		min-width: 90%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		.gallery-item
		{
			height: 500px;
			overflow: hidden;
			margin: 5px;

			.image
			{
				height: 100%;
				width: 100%;
				padding: 10px;
				margin: 10px;
				opacity: 0.8;
				transition: opacity 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);

				&:hover
				{
					transform: scale(1.1);
					transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
					opacity: 1;
				}
			}

			&.large
			{
				width: 100%;
			}

			&.medium
			{
				width: 50%;
			}

			&.small
			{
				width: auto;
			}
		}
	}
}
@media only screen
   and (max-width : 490px) {
  	.display-container
  	{
  		.gallery
  		{
			.gallery-item
			{
				margin-top: 10px;
				margin-bottom: 10px;
				width: 100%;

				&.large{
				width: 100%;
				}

				&.medium{
				width: 100%;
				}

				&.small
				{
				width: 100%;
				}
			}
  		}
  	}
   }

	 @media only screen
 		 and (min-width : 768px) {
 		 .display-container
 		 {
 			 .gallery
 			 {
 			 .gallery-item
 			 {
 				 margin-top: 10px;
 				 margin-bottom: 10px;
 				 width: 100%;

 				 &.large{
 				 width: 100%;
 				 }

 				 &.medium{
 				 width: auto;
 				 }

 				 &.small
 				 {
 				 width: auto;
 				 }
 			 }
 			 }
 		 }
 		 }


	 @media only screen
	    and (min-width : 1024px) {
	   	.display-container
	   	{
	   		.gallery
	   		{
	 			.gallery-item
	 			{
	 				margin-top: 10px;
	 				margin-bottom: 10px;
	 				width: 100%;

	 				&.large{
	 				width: 100%;
	 				}

	 				&.medium{
	 				width: 45%;
	 				}

	 				&.small
	 				{
	 				width:45%;
	 				}
	 			}
	   		}
	   	}
	    }
