.heading
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 50px;
	letter-spacing: 1px;
	text-align: left;
	border-left: 4px solid black;
	padding-left: 10px;
}

.container
{

	height: 500px;
	
	.image-container
	{
		height: 100%;
		width: 70%;

		img
		{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.description
	{
		// background: #BFB8B4;
		background: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 30%;
		margin-bottom: 3px;
		font-family: 'Open Sans Condensed', sans-serif;
		letter-spacing: 1px;
		font-size: 23px;
		border-right: 2px solid black;

		.arrow
		{
			color: black;
		}
	}
}