a
{
	text-decoration: none;
	color: black;
}
.connect-container
{
	font-family: 'Open Sans Condensed', sans-serif;
	width: 70vw;
	margin: 20px;

	.social-links
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.social-label
		{
			font-size: 25px;
			font-weight: bold;
		}
	}

	.social-logos
	{
		display: flex;

		.logos
		{
			margin: 15px;
		}
	}

	.address
	{
		letter-spacing: 1px;
	}
}
@media only screen
   and (max-width : 768px)
{
	.logos{

	}
}
