.nav
{
	background: #1523;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	transition: 350ms;
}
.nav-cross
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	transition: 350ms;
}
.sidebar-nav
{
	width: 250px;
	height: 100vh;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	transition: 350ms;
	z-index: 10;

	.sidebar-wrap
	{
		background: #1523;
		width: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}