.grid
{
  display: grid;
  grid-template-columns: 33% 34% 33%;
}
.image-class
{
  width: 100%;
  height: 100%;
}
.gridimage
{
  position: relative;
  margin: 5%;
  height: 60vh;
}
.subHead
{
  color: grey;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.5px;
}
.project_header
{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 0.5px;
  font-size: 40px;
}
.opacity_div
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  transition: all 0.2s ease-out;

  &:hover{
    opacity: 0;
  }
}

@media only screen
   and (min-width :320px){
     .grid
     {
       display: grid;
       grid-template-columns: 100%;
     }

   }
@media only screen
   and (min-width :375px){
     .grid
     {
       display: grid;
       grid-template-columns: 100%;
     }

   }


   @media only screen
      and (min-width :768px){
        .grid
        {
          display: grid;
          grid-template-columns: 50% 50%;
        }

      }
      @media only screen
         and (min-width :1024px){
           .grid
           {
             display: grid;
             grid-template-columns: 33% 34% 33%;
           }

         }
