$base-color:#EAE7E5 ;

.App {
  text-align: center;
  overflow: hidden;
}
.footer_class{
  font-family: 'Open Sans Condensed';
  letter-spacing: 2px;
}

.loader
{
  width: 100vw;
  height: 100vh;
  margin-top: 40vh;
}

* {
	box-sizing: border-box;
}
