@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
	width: 5px;
  background: #EAE7E5;
}

::-webkit-scrollbar-thumb{
	border-radius: 30px;
	background: black;
	box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rec.rec-arrow:hover:enabled{
  background-color:#1b1c1b;
  color:white;
}
.rec.rec-arrow{
  background-color:#1b1c1b;
  color:white;
}

.rec.rec-dot_active{
  background-color:#EAE7E5;
  box-shadow: 0 0 1px 2px black;
  color: black;
}
.rec.rec-dot_active:hover:enabled{
  background-color:#1b1c1b;
  box-shadow: 0 0 1px 2px black;
  color: white;
}
.rec.rec-dot_active:hover:focus{
  background-color: #1b1c1b;
  box-shadow: 0 0 1px 2px black;
  color:white;
}

/*#FADCD9 rose dew*/
/*#B99095 dark dew*/
