.home-container
{
	position: relative;
}
.trending_cat{
	background-image: url("../../Images/appbackgroundmain.png");
	 background-repeat: no-repeat;
	 width: 100vw;
	 height:auto;
	 background-size:100% 100%;
}
